<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ghibli Guide</title>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Rubik&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root">
        <main class="main">
            <header class="header">
                <div class="header__top">
                    <img class="logo" src="totoro.svg">
                    <button class="login">
                        <span class="login__text">LOGIN</span>
                        <div class="line"></div>
                    </button>
                </div>
                <div class="search">
                    <img class="search__icon" src="search-solid.svg">
                    <input class="search__input" type="text">
                </div>
            </header>

            <main class="results">
                <h2 class="results__title">Search by: </h2>
                <section class="results__item">
                    <h3 class="results__item-title"></h3>
                    <p class="results__item-name"></p>
                    <p class="results__item-description"></p>
                </section>
                <i class="fas fa-arrow-circle-up results__up"></i>
            </main>

            <!-- <main>
                <ul class="results">
                    <li class="results__container">
                        <div class="category films">
                            <h2 class="category__title">Films</h2>
                            <img class="category__img" src="movies.jpg">
                            <div class="category__opacity"></div>
                        </div>
                    </li>
                    <li class="results__container">
                        <div class="category people">
                            <h2 class="category__title">People</h2>
                            <img class="category__img" src="people.jpg">
                            <div class="category__opacity"></div>
                        </div>
                    </li>
                    <li class="results__container">
                        <div class="category locations">
                            <h2 class="category__title">Locations</h2>
                            <img class="category__img" src="locations.jpg">
                            <div class="category__opacity"></div>
                        </div>
                    </li>
                    <li class="results__container">
                        <div class="category species">
                            <h2 class="category__title">Species</h2>
                            <img class="category__img" src="species.jpg">
                            <div class="category__opacity"></div>
                        </div>
                    </li>
                    <li class="results__container">
                        <div class="category vehicles">
                            <h2 class="category__title">Vehicles</h2>
                            <img class="category__img" src="vehicles.jpg">
                            <div class="category__opacity"></div>
                        </div>
                    </li>
                </ul>
            </main> -->
            <footer class="footer">
                <div class="footer__container">
                    <span class="footer__element">All rights reserved to Studio Ghibli</span>
                </div>
            </footer>
        </main>
    </div>  
</body>
</html>