<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- LINKS TO FONTS -->

    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Rubik&display=swap" rel="stylesheet">
    
    <!-- LINKS TO FONTS -->
    
    <title>Ghibli Guide</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root">
        <div class="app">
            <h1 class="app__title">GHIBLI GUIDE</h1>
            <img class="app__logo" src="totoro.svg">
        </div>
    </div>
</body>
</html>