<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="edit">
        <h2 class="edit__title">Edit profile</h2>
        
        <div class="edit__username">
            <h3 class="edit__username-title">Username</h3>
            <form class="edit__username-form">
                <input type="text" placeholder="username">
                <button>saved</button>
            </form>
        </div>

        <div class="edit__password">
            <h3 class="edit__password-title">Password</h3>
            <form class="edit__password-form">
                <input type="text" placeholder="password">
                <button>saved</button>
            </form>
        </div>

        <div class="edit__name">
            <h3 class="edit__password-name">Password</h3>
            <form class="edit__name-form">
                <input type="text" placeholder="name">
                <button>saved</button>
            </form>
        </div>

        <div class="edit__email">
            <h3 class="edit__email-title">Password</h3>
            <form class="edit__email-form">
                <input type="text" placeholder="email">
                <button>saved</button>
            </form>
        </div>

        <a href="">Delete Profile</a>
        
    </section>
</body>
</html>