<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="results">
        <h2 class="results__title">Search by:</h2>
        <section class="results__item">
            <h3 class="results__item-title"></h3>
            <p class="results__item-name"></p>
            <p class="results__item-description"></p>
        </section>
        <i class="fas fa-arrow-circle-up results__up"></i>
    </main>
</body>
</html>