.footer
    width: 100%
    background-color: #ffffff
    
    .footer_text
        font-size: 0.8rem
        font-family: 'Baloo Chettan 2', cursive
        // color: #ff0000
        padding: 1rem
        