.mybooks_background
    height: 107vh

.bookings
    display: flex
    flex-direction: column
    align-items: center
.label
    font-family: 'Baloo Chettan 2', cursive
    font-size: 1.4rem
    margin-bottom: 0.8rem
.form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &_notes
        font-family: 'Baloo Chettan 2', cursive
        font-size: 0.8rem

    &_title
        font-family: 'Baloo Chettan 2', cursive
        font-size: 1.8rem
        margin-bottom: 2rem
        border-radius: 0.4rem
        border: 2px solid
        padding: 0.3rem
        background-color: rgba(255, 255, 255, 0.99) 
        box-shadow: 0 4px #999

    &_titleR
        //font-family: 'Baloo Chettan 2', cursive
        font-family: 'Lato', sans-serif
        font-size: 1.2rem
        font-weight: 1000
        margin-top: 5rem
        margin-bottom: 2rem
        //color: white
        border-radius: 0.4rem
        border: 2px solid
        padding: 0.3rem
        background-color: rgba(255, 255, 255, 0.99) 
        //background-color: rgba(105, 105, 105, 0.99)
        box-shadow: 0 4px #999

    &_titleM
        display: flex
        justify-content: center
        text-align: center
        font-family: 'Baloo Chettan 2', cursive
        font-size: 1.8rem
        margin-top: 6rem
        //color: white
        border-radius: 0.4rem
        border: 2px solid
        padding: 0.3rem
        background-color: rgba(255, 255, 255, 0.99) 
        box-shadow: 0 4px #999


    &_anchor
        margin-top: 2rem
        font-size: 1rem
        font-family: 'Baloo Chettan 2', cursive
  
    &_nobookings
        display: flex
        font-family: 'Baloo Chettan 2', cursive
        font-size: 1.5rem
        flex-direction: column
        justify-content: center
        align-items: center
        margin-top: 4rem
        border-radius: 0.4rem
        border: 2px solid
        width: 60%
        padding: 0.5rem
        background-image: linear-gradient(to right, #ffffff , #faa5a5)



    &_mybooks
        margin-top: 1rem

    &_register
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-top: 2rem
    
    &_remember
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-top: 4rem

    &_book
        display: flex
        font-family: 'Baloo Chettan 2', cursive
        font-size: 1.5rem
        flex-direction: column
        justify-content: center
        align-items: center
        margin-top: 3rem
        border-radius: 0.4rem
        border: 2px solid
        width: 55%
        background-color: rgba(255, 255, 255, 0.99)
        box-shadow: 0 4px #999

    &_input
        align-content: center
        font-size: 1rem
        font-family: 'Baloo Chettan 2', cursive
        border-radius: 0.5rem
        width: 70%
        margin-bottom: 2rem
        padding: 0.5rem
        outline: none
        border: 1px solid rgba(105, 105, 105, 0.99)

    &_button
        margin: 1rem
        display: inline-block
        font-family: 'Baloo Chettan 2', cursive
        padding: 0.8rem 1.2rem
        font-size: 1.1rem
        cursor: pointer
        text-align: center
        text-decoration: none
        outline: none
        color: #fff
        background-color: #ff1414
        border: none
        border-radius: 15px
        box-shadow: 0 9px #999

    &_button:hover
        background-color: #ff5d5d

    &_button:active 
        background-color: #ff5d5d
        box-shadow: 0 5px #666
        transform: translateY(4px)

    &_clay
        margin: 1rem
        display: inline-block
        font-family: 'Baloo Chettan 2', cursive
        padding: 0.8rem 1.2rem
        font-size: 1.1rem
        cursor: pointer
        text-align: center
        text-decoration: none
        outline: none
        color: #fff
        background-color: #8b4300
        border: none
        border-radius: 15px
        box-shadow: 0 9px #999

    &_clay:hover
        background-color: #a76b33

    &_clay:active 
        background-color: #a76b33
        box-shadow: 0 5px #666
        transform: translateY(4px)
    &_hard
        margin: 1rem
        display: inline-block
        font-family: 'Baloo Chettan 2', cursive
        padding: 0.8rem 1.2rem
        font-size: 1.1rem
        cursor: pointer
        text-align: center
        text-decoration: none
        outline: none
        color: #fff
        background-color: #601cff
        border: none
        border-radius: 15px
        box-shadow: 0 9px #999

    &_hard:hover
        background-color: #9a6fff

    &_hard:active 
        background-color: #9a6fff
        box-shadow: 0 5px #666
        transform: translateY(4px)

    &_cancel
        margin: 1rem
        display: inline-block
        font-family: 'Baloo Chettan 2', cursive
        padding: 0.7rem 1.1rem
        font-size: 1rem
        cursor: pointer
        text-align: center
        text-decoration: none
        outline: none
        color: #fff
        background-color: #e01313
        border: none
        border-radius: 15px
        box-shadow: 0 9px #999

    &_cancel:hover
        background-color: #9b4040

    &_cancel:active 
        background-color: #9b4040
        box-shadow: 0 5px #666
        transform: translateY(4px)


.book
    display: flex
    flex-direction: column
    width: 100%
    align-items: center

.select
    background-color: #ffffff
    //font-family: 'Raleway', sans-serif
    //font-family: 'Ubuntu', sans-serif
    font-family: 'Baloo Chettan 2', cursive
    padding: 0.2rem
    border-radius: 0.5rem
    text-align: center
    text-align-last: center
    outline: none
    width: 75%
    margin: 0.25rem 0

.date
    font-size: 1.2rem
    font-family: 'Baloo Chettan 2', cursive
    margin: 0.5rem 0

.legend
    margin-top: 0.5rem
    display: flex
    font-family: 'Baloo Chettan 2', cursive
    font-size: 0.8rem
    &_court
        display: flex
        align-items: center
    &_clay
        height: 1rem
        width: 1rem
        background-color:  #a84c00
        // border: 1px solid  #471e02
        box-shadow: 0 4px #999
        margin: 1rem 0.2rem 1rem 0.8rem
        border-radius: 50%
    &_hard
        height: 1rem
        width: 1rem
        background-color: #601cff
        //border: 1px solid  #170247
        margin: 1rem 0.2rem 1rem 0.8rem
        border-radius: 50%
        box-shadow: 0 4px #999

    &_available
        height: 1rem
        width: 1rem
        background-color:  #15ff00
        //border: 1px solid  #005804
        box-shadow: 0 4px #999
        margin: 1rem 0.2rem 1rem 0.8rem
        border-radius: 50%

    &_reserved
        height: 1rem
        width: 1rem
        background-color: #ff0000
        //border: 1px solid #a10000
        box-shadow: 0 4px #999
        margin: 1rem 0.2rem 1rem 0.8rem
        border-radius: 50%


.search
    margin-top: 8vh
    display: flex
    flex-direction: column
    align-items: center
        




.hidden
    display: none
        

.input-players
    margin: 0.75rem 0