.form
    display: flex
    flex-direction: column
    justify-content: center
    height: 100vh
    align-items: center
    font-family: 'Roboto', sans-serif

.book
    display: flex
    flex-direction: column
    width: 100%
    align-items: center

.select
    background-color: #fff
    padding: 0.2rem
    border-radius: 2rem
    text-align: center
    text-align-last: center
    outline: none
    width: 90%
    margin: 0.25rem 0

.date
    font-size: 1.2rem
    color: #fff
    margin: 0.5rem 0

.legend
    display: flex
    color: white
    &_court
        display: flex
        align-items: center
    &_clay
        height: 1rem
        width: 1rem
        background-color:  #a84c00
        margin: 0.5rem
    &_hard
        height: 1rem
        width: 1rem
        background-color: #3200a8
        margin: 0.5rem
    &_available
        height: 1rem
        width: 1rem
        background-color:  #73ff00
        margin: 0.5rem
    &_reserved
        height: 1rem
        width: 1rem
        background-color: #ff0000
        margin: 0.5rem

.search
    margin-top: 8vh
    display: flex
    flex-direction: column
    align-items: center
        


.form_input
    font-size: 1rem
    border-radius: 2rem
    width: 70%
    padding: 0.5rem
    outline: none

.form_register
    height: 50vh
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    
.form_login
    height: 30vh
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly

.form_button
    
    
    border: 1px solid 
    background-color: #ffffff
    border-radius: 2rem
    padding: 0.75rem 1.5rem
    color:  #000000
    font-size: 1rem
    margin-top: 2rem

    
    
    text-align: center

.form_goback
    

    border: 2px solid 
    background-color: #000000
    border-radius: 50%
    height: 2rem
    color:  #ffffff
    font-size: 1rem
    
    font-family: Franklin Gothic Medium
    width: 35%
    text-align: center

.form_myBookings
    display: flex
    flex-direction: row
    font-size: 15px

.form_cancel
    margin: auto
    margin-top: 2%
    margin-bottom: 10%
    border: 2px solid 
    background-color: #ff2020
    border-radius: 50%
    height: 50px
    color:  #ffffff
    font-size: 25px
    font-weight: 700
    font-family: Franklin Gothic Medium
    width: 35%
    text-align: center

.hidden
    display: none
        

.input-players
    margin: 0.75rem 0