// .login
//     display: inline-block

//     input
//         display: block
//         border: none
//         background-color: inherit
//         text-align: center
//         font-size: 1rem

//     button
//         border: none
//         border-radius: 1rem
//         color: inherit
//         cursor: pointer
//         font-size: 1rem
//         padding: .2rem


.loginG
    background-color: #8ec462
.login
    display: flex
    flex-direction: column
    margin: auto
    margin-top: 7%
    font-size: 20px
    font-family: Franklin Gothic Medium
    text-align: center
    background-color: #8ec462

    .login_a
        margin: auto
        margin-top: 7%
        font-size: 20px
        font-family: Franklin Gothic Medium
        display: flex
        flex-direction: column

.header
    width: 100%
    height: 15vh
    display: flex
    background-color:  #ffffff
    // background-color: #000000d7
    justify-content: space-around
    position: -webkit-sticky
    position: sticky
    top: 0

    .header_icon
        height: 70%
        width: 40%
        margin: 5% 7%

    .header_myLinks
        display: none
    
    .header_burger
        font-size: 50px
        margin: 5% 7%

    .header_title
        font-size: 30px
        color:  #000000d7
        margin: auto
        margin-right: 5%
        font-weight:  600
        font-family: Franklin Gothic Medium
        font-style: oblique
