.green
    background-color:  #73ff00
.red
    background-color: #ff0000
.gray
    background-color: #5a5858
.clay
    background-color: #a84c00
    color: white
.hard
    background-color: #3200a8
    color: white

.tg  
    //max-width: 200px
    margin: 0.5rem
    text-align: center
    table-layout: fixed
    width: 95%
.hour
    background-color: #002e02
    color: white

th
    letter-spacing: 1rem
td
    width: 0.5rem

// .tg td
//     font-family:Arial, sans-serif
//     font-size: 14px
//     padding: 10px 5px
//     border-style:solid
//     border-width:1px
//     overflow: hidden
//     word-break: normal
//     border-color: black        
// .tg th
//     font-family:Arial, sans-serif
//     font-size: 14px
//     font-weight: normal
//     padding: 10px 5px
//     border-style: solid
//     border-width:1px
//     overflow: hidden
//     word-break: normal
//     border-color: black
// .tg .tg-x1g8
//     font-weight: bold
//     font-size: xx-small
//     font-family: Tahoma, Geneva, sans-serif !important
//     text-align: left
//     vertical-align: top
// .tg .tg-r752
//     font-weight:bold
//     font-size:xx-small
//     font-family:Tahoma, Geneva, sans-serif !important
//     text-align: center
//     vertical-align: top