.green
    background-color:  #73ff00
.red
    background-color: #ff0000
.gray
    background-color: #5a5858

// .tg  
//     border-collapse: collapse
//     border-spacing: 0
// .tg td
//     font-family:Arial, sans-serif
//     font-size: 14px
//     padding: 10px 5px
//     border-style:solid
//     border-width:1px
//     overflow: hidden
//     word-break: normal
//     border-color: black        
// .tg th
//     font-family:Arial, sans-serif
//     font-size: 14px
//     font-weight: normal
//     padding: 10px 5px
//     border-style: solid
//     border-width:1px
//     overflow: hidden
//     word-break: normal
//     border-color: black
// .tg .tg-x1g8
//     font-weight: bold
//     font-size: xx-small
//     font-family: Tahoma, Geneva, sans-serif !important
//     text-align: left
//     vertical-align: top
// .tg .tg-r752
//     font-weight:bold
//     font-size:xx-small
//     font-family:Tahoma, Geneva, sans-serif !important
//     text-align: center
//     vertical-align: top