<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section class="details">
        <img class="details__image" src="">
        <div class="details__info">
            <h3 class="details__info-title"></h3>
            <p class="details__info-description"></p>
            <p class="details__info-director"></p>
            <p class="details__info-producer"></p>
            <p class="details__info-release"></p>
            <p class="details__info-score"></p>
        </div>
    </section>
</body>
</html>